


h1{
	font-family:"Avenir Next Condensed";
	font-size: 48px;
	color: #074f67;
	padding: 0 5px 5px 5px;
	width: 500px;
	font-size: 50px;
	margin-bottom: 0;
}

h2{
font-family:Avenir Next Condensed;
 color: #074f67;
}


body{
	background-color: #d1dde4 ;
	margin: 50px 75px 50px 75px;
	font-family:;
	color:#565656;
}





p{
	text-align: justify;
	line-height: 24px;
}
a{
	color:#074f67;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.nav-container{ 	
width:100%; 
background-color: #143578;
box-shadow: 4px 4px 20px #143578;  
position:fixed; 
left:0;  
top:0;
} 

.nav-container ul{
width:100%;
margin: auto;
padding:0; /*Ul would have default padding otherwise*/
list-style-type: none; 
font-size:18px;  
font-family:"Avenir Next Condensed";
}  

.nav-container li{
float: left; /*each seperate item tries to float left*/
}  

.nav-container a{ 
display: block;  /*let’s us treat each link as a box, which can be sized and styled*/ 
box-sizing: border-box; /*allows the "width" to include borders and padding*/
width: 421px; 
padding: 10px;
text-decoration: none;  /*removes the default underline*/
text-align: center; 
background-color: #000000; /*colors the buttons initially*/
color:#d7dce5;
} 


.nav-container a:hover{ 
background-color: #143578;
}



img{ width: 250px;
	height: 250px; 
	padding: 100px 150px 0 800px;
	}
